body {
    
}

.container {
    display: grid;
    
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: antiquewhite;
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}


button {
    color: antiquewhite;
    background-color: pink;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;

}

button:hover {
    opacity: 60%;
    cursor: pointer;
}